@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  cursor: none;
  /* hide scrollbar firefox */
  scrollbar-width: none;
  /* hide scrollbar IE/Edge */
  -ms-overflow-style: none;
}

body {
  margin: 0;
  background: #ececec;
  overflow-x: hidden;
  cursor: none;
  color: #000;
  transition: background-color 0.5s ease, color 0.5s ease;
  /* hide scrollbar firefox */
  scrollbar-width: none;
  /* hide scrollbar IE/Edge */
  -ms-overflow-style: none;
}

/* hide scrollbar webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.dark body {
  background: #0a0a0a;
  color: #f0f0f0;
}

* {
  box-sizing: border-box;
  cursor: none;
}

a,
button,
input,
textarea,
select,
[role="button"] {
  cursor: none;
}